.r-hero-slide {
  box-sizing: border-box;
  display: flex;
  height: auto;
  min-height: 520px;
  position: relative;

  &__content {
    align-items: flex-start;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 5;
    justify-content: flex-end;
    max-width: 500px;
    padding-bottom: $spacing-8;
    padding-top: $spacing-8;
    z-index: z(base);
  }

  &__media {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  img#{&}__img {
    margin-right: -13%;
    max-height: 100%;
    width: auto;
  }

  @include mq($from: smallPalm) {
    height: 708px;
    min-height: auto;
  }

  @include mq($from: device) {
    height: 900px;

    &__content {
      padding-bottom: 112px;
      padding-top: 112px;
    }

    img#{&}__img {
      margin-right: 0;
    }
  }

  @include mq($from: desk) {

    &__content {
      justify-content: center;
      max-width: none;
    }

    &__media {
      flex-basis: 0;
      flex-grow: 4;
      position: static;
    }

    img#{&}__img {
      max-height: none;
      width: 100%;
    }
  }

  @include mq($from: wide1920) {
    height: 990px;

    &__content,
    &__media {
      flex-grow: 1;
    }
  }
}
