/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * The text utilities file contains many helper classes for text;
 *
 * This includes `text-transform`, `font-` styles, alignment and spacing,
 * and the text style and responsive text style class generation, using the
 * global-text-map from _settings.text.scss.
 */

// Style helpers

.u-capitalize {
  text-transform: capitalize;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-italic {
  font-style: italic;
}

.u-bold {
  font-weight: 700;
}

.u-align {

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.u-text {
  font-family: $font-family-content;

  @each $_sizing, $_text-map in $global-text-map {
    &--#{$_sizing} {
      @include text-styles($_sizing, true);
    }
  }
}
