/* ==========================================================================
   #UTILITIES_HEADINGS
   ========================================================================== */

.u-heading {
  font-family: $font-family-title;
  font-weight: 700;

  &--h1 {
    @include text-styles(huge, true);
  }

  &--h2 {
    @include text-styles(large, true);
  }

  &--h3 {
    @include text-styles(big, true);
  }

  &--h4 {
    @include text-styles(medium, true);
    font-weight: 500;
  }

  &--h5 {
    @include text-styles(base, true);
  }

  &--h6 {
    @include text-styles(small, true);
  }
}

