@each $property-namespace, $property in $adaptive-spacing-properties {
  @each $direction-namespace, $direction-rules in $adaptive-spacing-directions {
    @each $size-namespace, $size in $adaptive-spacing-sizes {
      .u-adaptive-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
        @each $direction in $direction-rules {
          @include get-adaptive-spacing(#{$property}#{$direction}, $size);
        }
      }
    }
  }
}
