.r-carousel-adv {

  .slide {
    display: flex;
    flex-direction: column;
    height: 760px;
    justify-content: flex-end;
    position: relative;

    &__image {
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &__content {
      background-color: rgba($color: color(grey-10), $alpha: .5);
      padding: $spacing-6;
      transition: background-color .2s ease;
      z-index: z(base);

      &:hover {
        background-color: color('fire');
      }
    }
  }
}
