.r-icons-three-col {
  overflow: hidden;
  padding-top: $spacing-16;
  padding-bottom: $spacing-16;

  .wrapp {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$spacing-3;
    margin-right: -$spacing-3;
  }

  .wrapp__item {
    flex-basis: 80%;
    flex-grow: 1;
    margin-bottom: $spacing-8;
    padding-left: $spacing-3;
    padding-right: $spacing-3;

    @include mq($from: palm) {
      flex-basis: 50%;
      max-width: 50%;
    }


    @include mq($from: desk) {
      flex-basis: 33.33%;
      max-width: 33.33%;
    }
  }

  .item {
    text-align: center;
  }

  img.item__icon {
    height: 120px;
    margin-bottom: $spacing-5;
    width: 120px;
  }

  .item__title {
    margin-bottom: $spacing-4;
  }
}
