@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6t204g');
  src:  url('fonts/icomoon.eot?6t204g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6t204g') format('truetype'),
    url('fonts/icomoon.woff?6t204g') format('woff'),
    url('fonts/icomoon.svg?6t204g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-cart:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-logo:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
