.r-image-covered {
  $self: &;
  background-size: cover;

  &__img {
    height: 100%;
    opacity: 0;
    width: 100%;
  }

  &--pos {

    &-center {
      background-position: center;
    }

    &-left {
      background-position: left center;
    }

    &-right {
      background-position: right center;
    }

    &-top {
      background-position: center top;
    }

    &-bottom {
      background-position: center bottom;
    }
  }
}
