.r-carousel-hero {
  $self: &;
  $bg-colors: (
    'fire-bush': color(fire-bush),
    'grey-10': color(grey-10),
    'geraldine': color(geraldine),
    'tur-blue': color(tur-blue),
  );

  overflow: hidden;
  position: relative;

  &__bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: color(fire-bush);
  }

  @each $bg-title, $bg-color in $bg-colors {

    &__bg--#{$bg-title} {
      background-image: radial-gradient(circle at 60%, adjust-color($bg-color, $lightness: 20%), $bg-color 64%);
    }
  }

  &__parallax {
    background-image: url('./../../assets/images/bg_letters.png');
    background-size: 50% auto;
    bottom: 0;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 200%;
  }
}
