/* ==========================================================================
   #HELPERS
   ========================================================================== */

/**
 * The helpers tools file contains functions to help the other tools to work
 * more easily, and reduce the code they require.
 */

@function map-deep-get($_map, $_keys...) {
  @each $_key in $_keys {
    @if not map-has-key($_map, $_key) {
      @warn 'Key `#{$_key}` not found in map `#{$_map}`. Will return null';
    }
    $_map: map-get($_map, $_key);
  }
  @return $_map;
}
