/* ==========================================================================
   #TOOLS_SPACINGS
   ========================================================================== */

/**
 * Mixin that using in get-adaptive-spacing mixin and works only if spacing property
 * has map for different responsive
 */
 @mixin get-adaptive-spacing-response-only($_property, $_adaptive-spacing-map) {
  @each $breakpoint, $value in $_adaptive-spacing-map {
    @if $breakpoint {
      @include mq($from: $breakpoint) {
        #{$_property}: $value;
      }
    }
    @else {
      #{$_property}: $value;
    }
  }
}

/**
 * You should indicate proparty name and spacing map
 */
@mixin get-adaptive-spacing($_property, $_spacing-map) {
  @if (type-of($_spacing-map) == map) {
    @include get-adaptive-spacing-response-only($_property, $_spacing-map);
  }
  @else {
    #{$_property}: $_spacing-map;
  }
}

/**
 * You should indicate proparty name and spacing name (without '-' in begining)
 */
@mixin adaptive-spacing($_property, $_spacing-name) {
  $value: map-get($adaptive-spacing-sizes, '-#{$_spacing-name}');
  @include get-adaptive-spacing($_property, $value);
}
