/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * The text tools file contains functions for accessing the core text map
 * defined in _settings.text.
 *
 * There are two ways of using the text, either the mixins below, or the utility
 * helper classes in _utilities.text.
 *
 * You will want to use these tools when you have a component that needs styling
 * with settings from the global text map, and where that component must always
 * be styled that way -- if it's just a one off, use the utility helpers.
 *
 *
 * Most of the time, you'll want to use the text-styles() function. This will
 * generate a list of styles for a specific font type.
 *
 * E.g. @include text-styles('base') might give you a font-size, a line-height
 * and a letter spacing, and will also make use of the inuit-font-size() mixin
 * for the font-size and line-height.
 *
 * The text-styles() mixin will also generate responsive styles if you ask it
 * too. The second parameter, $responsive, takes a boolean, and if true, will
 * generate all the text-styles set in the 'responsive' part of the global
 * text map for that size, within their own media queries.
 *
 * This is good for when you need the classes for the responsive sizings to be
 * different to the base, such as in the _utilities.text class.
 * (u-text--big and u-text--big.u-text--responsive).
 *
 * Finally, if you just need a part of the text map for a size, you can
 * use text-size, text-height or text-spacing. These are functions, and will
 * just return the value you specified.
 */

/**
 * The text tools file contains functions for accessing the core text map
 * defined in _settings.text.
 */

@mixin text-styles($size_name, $take_responsive: true) {
  $text_map: map-get($global-text-map, $size_name);
  @include text-styles-from-map($text_map, $take_responsive);
}

@mixin text-styles-from-map($_text-map, $take_responsive) {
  $_font-size: map-get($_text-map, 'font-size');
  $_line-height: map-get($_text-map, 'line-height');

  @include font-size($_font-size, $_line-height);

  @each $property, $value in $_text-map {
    @if ($property != 'responsive' and $property != 'font-size' and $property != 'line-height') {
      #{$property}: $value;
    }
  }

  $medias: map-get($_text-map, 'responsive');
  @if ($medias and $take_responsive) {

    @each $media, $resp_text_map in $medias {

      @include mq($from: $media) {
        @include text-styles-from-map($resp_text_map, $take_responsive: false);
      }
    }
  }
}


@mixin font-size($_font-size, $_line-height) {
  @if $_font-size and $_line-height {
    @include inuit-font-size($_font-size, $_line-height);
  }
  @else if $_font-size {
    @include inuit-font-size($_font-size, 'auto');
  }
  @else if $_line-height {
    line-height: $_line-height;
  }
}
