/* ==========================================================================
  #ALIASES
  ========================================================================== */

/**
 * The aliases tools file contains aliases for shortening long variable, mixin
 * and function names to make them easier to use throughout the project.
 */

@mixin hidden-visually() {
  @include inuit-hidden-visually();
}

@function z($_key) {
  @return z-index($_key);
}

@function color($_color) {
  @return theme-color($_color);
}
