.r-header {
  background-color: color('grey-10');

  &__container {
    background-color: color('grey-10');
    display: flex;
    height: 90px;
  }

  &__control {
    margin-left: auto;
  }

  &__logo {
    align-self: center;
    font-size: 42px;
    margin-left: $spacing-6;
  }

  .nav {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;

    &__item {
      font-weight: 700;
      margin-right: $spacing-3;
      text-transform: uppercase;
    }
  }

  .control {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-bottom: 0;

    &__item {
      background-color: transparent;
      border: none;
      color: color('white');
      cursor: pointer;
      font-size: 18px;
      margin-right: $spacing-2;
      padding: $spacing-1;
    }
  }

}
