.r-media-text {
  padding-bottom: $spacing-6;
  padding-top: $spacing-6;

  &__media {
    margin-left: -20px;
    margin-right: -20px;
  }

  &__content {
    margin-top: -$spacing-16;
  }


  @include mq($from: palm) {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;

    &__media {
      flex-basis: 0;
      flex-grow: 50;
      margin-left: 0;
      margin-right: 0;
    }

    &__content {
      flex-basis: 0;
      flex-grow: 43;
      margin-left: -6.8%;
      margin-top: $spacing-7;
    }
  }
}
