.r-half-selector {
  display: flex;
  flex-direction: column;

  @include mq($from: device) {
    flex-direction: row;
    flex-wrap: wrap;

    &__cta {
      flex-basis: 40%;
      flex-grow: 1;
    }
  }

  .cta {
    display: flex;
    flex-direction: column;
    height: 96.5vw;
    min-height: 360px;
    overflow: hidden;
    position: relative;

    @include mq($from: device) {
      height: 52.75vw;
      max-height: 1080px;
      min-height: 680px;
    }

    &__image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform .2s ease;
    }

    &__title {
      align-items: center;
      background-color: rgba($color: color(grey-10), $alpha: .5);
      display: flex;
      justify-content: center;
      margin-top: auto;
      padding: $spacing-1 $spacing-4;
      transition: background-color .2s ease;
      z-index: z(base);

      @include mq($from: mediumPalm) {
        min-height: 100px;
      }

      @include mq($from: device) {
        padding: $spacing-2 $spacing-6;
      }

      @include mq($from: wide1920) {
        min-height: 130px;
      }
    }

    &:hover {

      .cta__image {
        transform: scale(1.05);
      }

      .cta__title {
        background-color: color('fire');
      }
    }
  }
}
