/* ==========================================================================
   #FONTS
   ========================================================================== */

// Place all @font-face declarations in here. Example:
// @font-face {
//     font-family: 'Colfax-Web';
//     src: url('/fonts/Colfax-Regular.eot');
//     src: ...
//     font-weight: normal;
// }

@include add_font(
  $name: 'Poppins',
  $weight: 'normal',
  $style: 'normal',
  $links: (
    'eot': './../../fonts/Poppins-Regular',
    'woff': './../../fonts/Poppins-Regular',
    'woff2': './../../fonts/Poppins-Regular',
    'ttf': './../../fonts/Poppins-Regular',
  )
);

// @include add_font(
//   $name: 'Poppins',
//   $weight: 500,
//   $style: 'normal',
//   $links: (
//     'eot': './../../fonts/Poppins-Medium',
//     'woff': './../../fonts/Poppins-Medium',
//     'woff2': './../../fonts/Poppins-Medium',
//     'ttf': './../../fonts/Poppins-Medium',
//   )
// );

// @include add_font(
//   $name: 'Poppins',
//   $weight: 700,
//   $style: 'normal',
//   $links: (
//     'eot': './../../fonts/Poppins-Bold',
//     'woff': './../../fonts/Poppins-Bold',
//     'woff2': './../../fonts/Poppins-Bold',
//     'ttf': './../../fonts/Poppins-Bold',
//   )
// );

@include add_font(
  $name: 'Work Sans',
  $weight: 'normal',
  $style: 'normal',
  $links: (
    'eot': './../../fonts/WorkSans-Regular',
    'woff': './../../fonts/WorkSans-Regular',
    'woff2': './../../fonts/WorkSans-Regular',
    'ttf': './../../fonts/WorkSans-Regular',
  )
);

@include add_font(
  $name: 'Work Sans',
  $weight: 500,
  $style: 'normal',
  $links: (
    'eot': './../../fonts/WorkSans-Medium',
    'woff': './../../fonts/WorkSans-Medium',
    'woff2': './../../fonts/WorkSans-Medium',
    'ttf': './../../fonts/WorkSans-Medium',
  )
);

@include add_font(
  $name: 'Work Sans',
  $weight: 700,
  $style: 'normal',
  $links: (
    'eot': './../../fonts/WorkSans-Bold',
    'woff': './../../fonts/WorkSans-Bold',
    'woff2': './../../fonts/WorkSans-Bold',
    'ttf': './../../fonts/WorkSans-Bold',
  )
);
