/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `background-color` for the entire project. This will also
 *    affect the color shown when scrolling past the limits of the page on
 *    browser's that allow it, such as Chrome.
 * 2. Set the default text `color` for the entire project. This will be the
 *    color used for all text unless a different one is supplied.
 * 3. Set the default `font-family` for the entire project. This is useful as
 *    the content font, if there is a specific one.
 */

html {
  font-family: $font-family-content; /* [3] */
}

.app {
  position: relative;
  color: color('white');
}

.app__bg {
  z-index: z(deepBackground);

  &,
  &:before,
  &:after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before, &:after {
    content: '';
  }

  &:before {
    background-color: color('grey-10');
  }

  &:after {
    background-image: url('./../../images/bg_letters.png');
    background-size: 100% auto;
    opacity: .05;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
