.r-product-tile {
  background-color: color('white');
  border-radius: 20px 0 0 0;
  box-shadow: 0px 11px 14px -1px #00000036;
  overflow: hidden;
  position: relative;

  &__img {
    height: 300px;
  }

  &__content {
    padding: $spacing-4;
  }

  &__tag {
    @include text-styles('base', true);
    background-color: color('fire');
    left: 0;
    margin-bottom: 0;
    padding: 3px $spacing-3;
    position: absolute;
    top: 0;
  }
}
