.r-grid-main {
  display: grid;
  grid-column-gap: $spacing-3;
  grid-row-gap: $spacing-5;
  grid-template-columns: repeat(2, 1fr);

  @include mq($from: smallDesk) {
    grid-template-columns: repeat(4, 1fr);
  }
}
