/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * The colors settings file contains all colors used throughout the project;
 * hex color codes should not be used anywhere outside of this file
 *
 * First, a series of palette colors are defined.
 * Then, a set of monochrome and theme colors are defined from those.
 * We should ONLY use the theme and monochrome colors throughout the scss,
 * so that changing them in the future is easier.
 *
 * E.g. $color-primary: $color-red -> $color-primary: $color-green
 * This is a one-line change in this colors file, but changing $color-red to
 * $color-green across the whole project would require changing many files.
 */

/**
 * PALETTE
 */
// Do not use these in your scss - only use these to define the THEME
// colors below.
// We've left red in as an example of how to define them.


/**
 * MONOCHROME
 */
// Only use these and Theme colors in the scss code!
// It is okay to change these colours to what is needed for your project.
//
// Access these colours using the tool `theme-color()` (or `color()` alias):
// .example {
//     color: color('grey-90');
// }
$monochrome-colors: (
  'white': rgb(255, 255, 255),
  'grey-88': #e1e1e1,
  'grey-76': #c3c3c3,
  'grey-65': #a5a5a5,
  'grey-63': #a1a1a1,
  'grey-50': #7f7f7f,
  'grey-10': #191919,
  'black': rgb(0, 0, 0),
);





/**
 * THEME
 */
// Only use these and Monochrome colors in the scss code!
//
// Access these colours using the tool `theme-color()` (or `color()` alias):
// .example {
//     color: color('primary');
// }
$theme-colors: (
  'indigo': #0e0e2c,
  'fire': #E9A14D,
  'fire-bush': #D8914B,
  'geraldine': #e57f71,
  'tur-blue': #68DDE4,
);

$map-core-colors: map-merge($monochrome-colors, $theme-colors);
