/* ==========================================================================
   #SPACING
   ========================================================================== */

// Baseline grid lines height.
// Every spacing metric should be based on this.

$inuit-global-baseline: 6px;

$spacing-1:     $inuit-global-baseline * 1;   // 6px  $inuit-global-spacing-unit-tiny
$spacing-2:     $inuit-global-baseline * 2;   // 12px $inuit-global-spacing-unit-small
$spacing-3:     $inuit-global-baseline * 3;   // 18px
$spacing-4:     $inuit-global-baseline * 4;   // 24px $inuit-global-spacing-unit
$spacing-5:     $inuit-global-baseline * 5;   // 30px
$spacing-6:     $inuit-global-baseline * 6;   // 36px
$spacing-7:     $inuit-global-baseline * 7;   // 42px
$spacing-8:     $inuit-global-baseline * 8;   // 48px $inuit-global-spacing-unit-large
$spacing-11:    $inuit-global-baseline * 11;  // 66px
$spacing-12:    $inuit-global-baseline * 12;  // 72px
$spacing-16:    $inuit-global-baseline * 16;  // 96px $inuit-global-spacing-unit-huge

$inuit-spacing-sizes: (
  "-none": 0,
  "-1": $spacing-1,
  "-2": $spacing-2,
  "-3": $spacing-3,
  '-4': $spacing-4,
  "-5": $spacing-5,
  "-6": $spacing-6,
  "-7": $spacing-7,
  "-8": $spacing-8,
  "-11": $spacing-11,
  "-12": $spacing-12,
  "-16": $spacing-16,
);

// ----- Responsive spacings inuit settings -----
// ----------------------------------------------

// Example:
// u-padding-left-4@device

$inuit-responsive-spacing-sizes: $inuit-spacing-sizes;

$inuit-responsive-spacing-properties: (
  "padding": "padding",
);

$inuit-responsive-spacing-directions: (
 null: null,
 "-left": "-left",
);

// -------------------------------
// ----/ Responsive spacings -----


// ----- Adaptive spacings -----
// -----------------------------

$adaptive-spacing-sizes: (
  "-none": 0,
  "-1": $spacing-1,
  "-2": (
    null: $spacing-1,
    device: $spacing-2,
  ),
  "-3": $spacing-3,
  '-4': (
    null: $spacing-2,
    device: $spacing-4,
  ),
  "-5": (
    null: $spacing-3,
    device: $spacing-5,
  ),
  "-6": $spacing-6,
  "-7": $spacing-7,
  "-8": (
    null: $spacing-6,
    device: $spacing-8,
  ),
  "-11": $spacing-11,
  "-12": $spacing-12,
  "-16": $spacing-16,
);

$adaptive-spacing-properties: (
  "margin": "margin",
);

$adaptive-spacing-directions: (
 "-bottom": "-bottom",
);

// -----------------------------
// ----/ Adaptive spacings -----
