/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * The text settings file contains any project-wide text and type settings;
 * Font families are given variable names here for use throughout the scss.
 * Font sizings are also provided here, which are mapped out and provide
 * responsive sizings to change across devices.
 */

// Create variables for the font families to be used across the project.
$font-family-title: 'Work Sans', 'arial', 'serif';
$font-family-content: 'Poppins', 'sans-serif';

// The global text map defines a map of text sizings, with their corresponding
// font sizes, and optionally line-height and letter spacing.
//
// A responsive map can be provided to change these text sizings at different
// breakpoints, allowing for a uniform website that grows and shrinks across
// devices. All text sizes are mobile-first, and go from the breakpoint upwards.
//
// ONLY access this map using the mixins in _tools.text-functions.scss.
// There are also helper classes for u-text in _utilities.type.scss, which allow
// the use of .u-text--${size} and .u-text--responsive to add the below styles.

$global-text-map: (
  // h1
  'huge': (
    font-size: 48px,
    line-height: 1em,
    responsive: (
      'device': (
        font-size: 64px,
        line-height: 1em,
      ),
    )
  ),
  // h2
  'large': (
    font-size: 24px,
    line-height: 1.5em,
    responsive: (
      'device': (
        font-size: 40px,
        line-height: 1.175em,
      ),
    )
  ),
  // h3
  'big': (
    font-size: 24px,
    line-height: 1.5em,
  ),
  // button
  'average': (
    font-size: 18px,
    line-height: 1.5em,
    responsive: (
      'device': (
        font-size: 24px,
        line-height: 1.4em,
      ),
    )
  ),
  // body-big h4
  'medium': (
    font-size: 16px,
    line-height: 1.4em,
    responsive: (
      'device': (
        font-size: 24px,
        line-height: 1.4em,
      ),
    )
  ),
  // small-button
  'low': (
    font-size: 16px,
    line-height: 1.5em,
  ),
  // body
  'base': (
    font-size: 14px,
    line-height: 1.4em,
    responsive: (
      'device': (
        font-size: 16px,
        line-height: 1.4em,
      ),
    ),
  ),
  'small': (
    font-size: 10px,
    line-height: 1.4em,
  ),
);
