.o-container {
  margin-left: 20px;
  margin-right: 20px;

  @include mq($from: palm) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @include mq($from: wideDesk) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.o-adjoin-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}


.o-header-container {
  margin-left: 20px;
  margin-right: 20px;

  @include mq($from: palm) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @include mq($from: 1500px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
  }
}


$container-directions: (
  null: null,
  "-right": "-right",
  "-left": "-left",
  "-horizontal": "-left" "-right",
) !default;

$container-properties: (
  "padding": "padding",
  "margin": "margin",
) !default;


@each $property-namespace, $property in $container-properties {

  @each $direction-namespace, $direction-rules in $container-directions {

    .o-#{$property-namespace}#{$direction-namespace}-container {

      @each $direction in $direction-rules {

        #{$property}#{$direction}: 20px;

        @include mq($from: palm) {
          #{$property}#{$direction}: 50px;
        }

        @include mq($from: wideDesk) {
          #{$property}#{$direction}: calc((100% - 1200px) / 2);
        }
      }

    }

  }

}
