.o-btn {
  $btn-circle-positions: '-top-left', '-top-right', '-bottom-left', '-bottom-right';
  $btn-colors: (
    'fire': color(fire),
    'grey-10': color(grey-10),
    'grey-76': color(grey-76),
    'white': color('white'),
    'indigo': color('indigo'),
  );

  $btn-solid-colors: (
    'fire': (
      'bg': color(fire),
      'text': color('white'),
    ),
    'grey-10': (
      'bg': color(grey-10),
      'text': color('white'),
    ),
  );

  @include text-styles(average);
  background-color: transparent;
  border: 4px solid color('white');
  color: color('white');
  font-family: $font-family-content;
  font-weight: 700;
  padding: $spacing-2 $spacing-7;
  text-transform: uppercase;
  transition: border-radius .2s ease;

  @include mq($from: device) {
    padding: $spacing-4 90px;
    border-width: 5px;
  }

  @each $pos in $btn-circle-positions {

    &--rounding#{$pos} {
      border#{$pos}-radius: 70px;
    }
  }


  // --- sizes -----

  &--size-middle {
    padding: 8px $spacing-5;

    @include mq($from: device) {
      padding: 4px $spacing-5;
    }

  }

  &--size-small {
    @include text-styles(low);
    border-width: 2px;
    padding: 2px $spacing-6;

    @include mq($from: device) {
      padding: 4px $spacing-6;
    }
  }

  // --/ sizes -----

  @each $color-title, $color-value in $btn-colors {

    &--color-#{$color-title} {
      border-color: $color-value;
      color: $color-value;
    }
  }

  @each $color-title, $value in $btn-solid-colors {

    &--color-solid-#{$color-title} {
      background-color: map-get($value, 'bg');
      border-color: map-get($value, 'bg');
      color: map-get($value, 'text');
    }
  }

  &:hover {
    border-radius: 0;
  }
}
